<html>
  <head>
    <title>MBTA Stats</title>
  </head>

  <body>

      <h1 align="center">MBTA</h1>

      <div class="transportation">
        <h2 align="center">Subway</h2>
        <hr>
        <div class="station-category">
          <a href="transit/green-b"><h5 class="green-line">Green Line - B</h5></a>
          <a href="transit/green-c"><h5 class="green-line">Green Line - C</h5></a>
          <a href="transit/green-d"><h5 class="green-line">Green Line - D</h5></a>
          <a href="transit/green-e"><h5 class="green-line">Green Line - E</h5></a>
          <a href="transit/orange"><h5 class="orange-line">Orange Line</h5></a>
          <a href="transit/blue"><h5 class="blue-line">Blue Line</h5></a>
          <a href="transit/red"><h5 class="red-line">Red Line</h5></a>
          <a href="transit/mattapan"><h5 class="red-line">Mattapan Trolley</h5></a>
        </div>
      </div>

      <div class="transportation">
        <h2 align="center">Commuter Rail</h2>
        <hr>
        <div class="station-category">
          <h3 align="center">North Station</h3>
          <a href="transit/cr-fitchburg"><h5 class="commuter-rail">Fitchburg Line</h5></a>
          <a href="transit/cr-lowell"><h5 class="commuter-rail">Lowell Line</h5></a>
          <a href="transit/cr-haverhill"><h5 class="commuter-rail">Haverhill Line</h5></a>
          <a href="transit/cr-newburyport"><h5 class="commuter-rail">Newburyport / Rockport Line</h5></a>
        </div>
        <div class="station-category">
          <h3 align="center">South Station</h3>
          <a href="transit/cr-worcester"><h5 class="commuter-rail">Framingham / Worcester Line</h5></a>
          <a href="transit/cr-needham"><h5 class="commuter-rail">Needham Line</h5></a>
          <a href="transit/cr-franklin"><h5 class="commuter-rail">Franklin Line</h5></a>
          <a href="transit/cr-providence"><h5 class="commuter-rail">Providence / Stoughton Line</h5></a>
          <a href="transit/cr-middleborough"><h5 class="commuter-rail">Middleboro / Lakeville Line</h5></a>
          <a href="transit/cr-kingston"><h5 class="commuter-rail">Kingston / Plymouth Line</h5></a>
          <a href="transit/cr-greenbush"><h5 class="commuter-rail">Greenbush Line</h5></a>
          <a href="transit/cr-fairmount"><h5 class="commuter-rail">Fairmount Line</h5></a>
        </div>
      </div>

      <div class="transportation">
        <h2 align="center">Bus</h2>
        <hr>
        <div class="station-category">
          <h3 align="center">Silver Line</h3>
          <a href="transit/741"><h5 class="silver-line">Silver Line SL1</h5></a>
          <a href="transit/742"><h5 class="silver-line">Silver Line SL2</h5></a>
          <a href="transit/746"><h5 class="silver-line">Silver Line Waterfront</h5></a>
          <a href="transit/751"><h5 class="silver-line">Silver Line SL4</h5></a>
          <a href="transit/749"><h5 class="silver-line">Silver Line SL5</h5></a>
        </div>
        <div class="station-category">
          <h3 align="center">Crosstown</h3>
          <a href="transit/701"><h5 class="bus">CT1</h5></a>
          <a href="transit/747"><h5 class="bus">CT1</h5></a>
          <a href="transit/708"><h5 class="bus">CT1</h5></a>
        </div>
        <div class="station-category">
          <h3 align="center">Key Routes</h3>
          <a href="transit/1"><h5 class="bus">1</h5></a>
          <a href="transit/15"><h5 class="bus">15</h5></a>
          <a href="transit/22"><h5 class="bus">22</h5></a>
          <a href="transit/23"><h5 class="bus">23</h5></a>
          <a href="transit/28"><h5 class="bus">28</h5></a>
          <a href="transit/32"><h5 class="bus">32</h5></a>
          <a href="transit/39"><h5 class="bus">39</h5></a>
          <a href="transit/57"><h5 class="bus">57</h5></a>
          <a href="transit/66"><h5 class="bus">66</h5></a>
          <a href="transit/71"><h5 class="bus">71</h5></a>
          <a href="transit/73"><h5 class="bus">73</h5></a>
          <a href="transit/77"><h5 class="bus">77</h5></a>
          <a href="transit/111"><h5 class="bus">111</h5></a>
          <a href="transit/116117"><h5 class="bus">116 / 117</h5></a>
        </div>
      </div>

      <div class="transportation">
        <h2 align="center">Boat</h2>
        <hr>
        <div class="station-category">
          <a href="transit/boat-f1"><h5 class="boat">Charlestown Ferry</h5></a>
          <a href="transit/boat-f4"><h5 class="boat">Hingham / Hull Ferry</h5></a>
        </div>
      </div>

  </body>
</html>